{% extends 'base.html' %}
{% load static %}

	{% block css %}
		<!-- icons-link -->
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
			integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'jQuery/lips/owlcarousel2/assets/owl.carousel.min.css' %}">
		<link rel="stylesheet" href="{% static 'jQuery/lips/owlcarousel2/assets/owl.theme.default.min.css' %}">

		<link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
		<!-- style-link -->
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	{% endblock css %}

	{% block title %} <title>3D Model</title> {% endblock title %}

	{% block bodycontent %}

		<section class="content">

			<!-- <div class="content__navbar">
				<ul class="content__navbar--list free">
					<li><a href="index.html">Bosh menyu</a></li>
					<li><a href="sale.html">Aksiya</a></li>
					<li><a href="free.html">Bepul mahsulotlar</a></li>
					<li><a href="portfolio.html">Portfolio</a></li>
					<li><a href="Videos.html">Videolar</a></li>
					<li><a href="about.html">Biz haqimizda</a></li>
					<li><a href="Aloqa.html">Aloqa</a></li>
				</ul>
			</div> -->

			<!-- Navbar -->
			{% include 'includes/navbar.html' %}
			<!-- end Navbar -->

			<div class="payForm__body-2">
				<p class="payForm__text">
					Parollni tiklash muofaqiatli yakunlandi! <br>
					Hoziroq yangi <strong>Login</strong> va <strong>parol</strong>ingiz bilan shaxsiy kabinetingizga kirishingiz mumkin.
				</p>
				<a href="{% uel 'login' %}"><button class="payForm__btn">Bosh sahifa</button></a>
			</div>

		</section>

		<style>
			.payForm__body-2 {
				margin: 70px auto 0;
				min-height: 90vh;
				width: calc(100% - 20vw);
				max-width: 1366px;
			}

			.payForm__text {
				font-family: Roboto;
				font-size: 20px;
				line-height: 159.9%;
				text-align: center;
				color: #0565BD;
			}
			.payForm__btn {
				padding: 13px 35px;
				margin-top: 60px;
				margin-bottom: 50px;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				text-align: center;
				background: #05E600;
				box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
				border-radius: 5px;
				color: #fff;
				font-size: 16px;
				transition: all ease-in .3s;
			}
			.payForm__btn:hover {
				background: #049e01;
			}
			.footer {
				margin-top: 80px;
			}
		</style>

	{% endblock bodycontent %}

	{% block js %}
		<!--jQuery-->
		<script src="{% static 'jQuery/jquery.min.js' %}"></script>
		<script src="{% static 'jQuery/lips/owlcarousel2/owl.carousel.min.js' %}"></script>
		<script src="{% static 'jQuery/jQuery.js' %}"></script>

		<script src="{% static 'js/swiper.min.js' %}"></script>
		<!--/jQuery-->
		<script src="{% static 'js/main.js' %}"></script>
	{% endblock js %}