<div class="content__navbar">
    <ul class="content__navbar--list">
        <li><a href="{% url 'Core:main-view' %}">Asosiy</a></li>
        <li><a href="{% url 'Core:aksiya-view' %}">Aksiya</a></li>
        <li><a href="{% url 'Core:free-detail-view' %}">Bepul mahsulotlar</a></li>
        <li><a href="{% url 'Core:portfolio-view' %}">Portfolio</a></li>
        <li><a href="{% url 'Core:video-view' %}">Videolar</a></li>
        <li><a href="{% url 'Core:about-view' %}">Biz haqimizda</a></li>
        <li><a href="{% url 'Core:contact-view' %}">Aloqa</a></li>
    </ul>
</div>


